// UI Color Scheme

//Black
$color__black: #000 !default;
$color__light-black: #6a6767 !default;
$color__mid-black: #454545 !default;

// Gray
$color__light-gray: #f4f4f4 !default;
$color__mid-gray: #a3a3a3 !default;

// Others
$color__light-red: #ff5050 !default;
$color__sc-blue: #49aaca !default;
$color__white: #fff !default;
