// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.header {
    flex-grow: 1;
    padding: $spacing-sm;
    border-bottom: 1px solid $color__light-gray;

    // Overriding material-ui classes
    .header__button:hover {
      background-color: transparent;
      color: $color__sc-blue
    }
    .header__button {
      color: $color__light-black;
    }
    .header__help-button:hover {
      color: $color__light-red;
    }
}

.header__logo {
    background-image: url(https://s3.amazonaws.com/development-silvercar-static-assets/assets/web-assets/silvercar-by-audi.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    height: rem(25px);
    margin: 0;
    padding: 0;
    width: rem(150px);
}

.header__buttons {
  border: 1px solid $color__light-black;
  border-radius: rem(100px);
  margin: 0 1rem;
  padding: 0;
}

.header__button:first-child {
  border-radius: rem(0px);
  border-right: 1px solid $color__black;
}

/*---------------- @media -------------------*/

@media screen and (max-width: 527px) {
  .header__buttons,
  .header .header__help-button {
    display: none;
  }
  .header {
    padding: 0;
  }
  .header__logo {
    height: rem(16px);
  }
}
