// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.search {
  align-self: stretch;
  padding: $spacing-2xs;
  background-color: $color__light-gray;
  text-align: center;
}
