// @styles
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.locations__selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations__title {
  @include typescale(3);
  font-family: $font-family-sans-serif;
  font-weight: 500;
  margin: rem(15px) 0;
}

.locations {
  overflow-y: scroll;
  width: 75%;
  height: calc(100vh - 190px);
}

.locations__list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(275px, 1fr));
}

// Fallback if the browser does not support css grid
// https://caniuse.com/#feat=css-grid

@supports not (display: grid) {
  .locations {
    display: flex;
    justify-content: center;
    padding: 0 $spacing-lg;
  }

  .locations__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 915px;
  }
}

/*---------------- @media -------------------*/

@media screen and (max-width: 527px) {
  .locations__title {
    @include typescale(0);
  }
}
