// @styles
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';

.booking-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(296px, 1fr));
  align-self: stretch;
  padding: $spacing-sm;
}

.booking-footer__inputs,
.booking-footer__texts,
.booking-footer__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-footer__text {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: 8px;
}

/*---------------- @media -------------------*/

@media screen and (max-width: 919px) {
  .booking-footer__inputs {
    display: none;
  }
}

@media screen and (max-width: 619px) {
  .booking-footer {
    padding: rem(8px);
  }
  .booking-footer__buttons {
    display: none;
  }
  .booking-footer__texts {
    justify-content: space-between;
  }
  .booking-footer__text {
      @include typescale(-1);
  }
}
